*{
  margin: 0px;
  padding: 0px; 
}

html{
  text-align: center;
  background-color: #a5a5a5;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: "Splat-title";
  src: url("./SplatoonTitle.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Splat-text";
  src: url("./SplatoonText.otf");
  font-style: normal;
  font-weight: normal;
}

.headerWrap{
  margin-top: 30px;
  /* border: #222 1px solid; */
  /* background-color: #222; */
  padding: 5px 0;
}

h1, h2{
  color: #222;
}

h2{
  font-size: 1.2rem;
}

.main{
  width: 1140px;
  margin: 0px auto;
  /* border: #000 1px solid; */
}

.main > div {
  margin-top: 30px;
}

.bannerPreview{
  box-shadow: 8px 12px 1px rgba(0 0 0/0.15);
  position: relative;
}

.bannerPreview, .bannerPreview img{
  width: 100%;
  max-width: 700px;
  margin: 30px auto;
  display: block;
}

.bannerPreview > div{
  /* border: red 1px solid; */
  position: absolute;
  color: white;
}
.bannerPreview .title{
  font-family: "Splat-text";
  font-size: 2.3rem;
  left: 2%;
  top: 5%;
  z-index: 1000;
  line-height: 100%;
  transform: skewX(-5deg);
}
.bannerPreview .name{
  font-family: "Splat-title";
  font-size: 4.2rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  z-index: 999;
}
.bannerPreview .number{
  font-family: "Splat-text";
  font-size: 1.5rem;
  left: 3.5%;
  bottom: 5%;
  z-index: 1000;
  line-height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.searchBoxSection > div{
  color: white;
  background-color: #222;
  display:inline-block;
  vertical-align:top;
  border-radius: 10px;
  margin: 8px 3px;
  box-shadow: 5px 8px 1px rgba(0 0 0/0.2);
}

.searchBoxLabel{
  font-size: 1.3rem;
  padding: 8px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: bold;
}

.searchBoxAdj{
  transform: rotate(-1.1deg);
}
.searchBoxSub{
  transform: rotate(0.5deg);
}
.searchBoxAdj .searchBoxLabel{
  background-color: rgb(169, 194, 32);
}
.searchBoxSub .searchBoxLabel{
  background-color: rgb(58, 60, 167);
}

input{
  width: 90%;
  box-sizing: border-box;
}

#comboBox_title1, #comboBox_title2{
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: inset 3px 3px 2px rgb(0 0 0 / 0.2);
}

.resultSection{
  padding: 20px 0;
  margin: 30px auto;
  background-color: #474747;
  border-radius: 10px;
}

.resultSection ul{
  list-style: none;
  display:inline-block;
  vertical-align:top;
  width:520px;
}

#result_title1{
  text-align: right;
}

#result_title2{
  text-align: left;
}


.dataList li:hover{
  background-color: #222;
}

.lighttedItem{
  border: 1px solid rgb(208, 226, 43);
}

.dataList li div{
  font-size: 14px;
  display:inline-block;
  vertical-align:bottom;
  margin: auto 4px;
  padding: 2px 0;
  /* border: 1px solid salmon; */
}

#result_title1 li div:last-child, #result_title2 li div:first-child{
  font-size: 10px;
  padding: 3px;
  background-color: rgba(0 0 0/0.5);
  color: #777;
  line-height: 1.4rem;
}
#result_title1 li div:nth-child(3), #result_title2 li div:nth-child(2){
  line-height: 1.4rem;
  color:rgb(208, 226, 43)
}
#result_title1 li div:nth-child(2), #result_title2 li div:nth-child(3){
  color:rgb(148, 142, 236)
}
#result_title1 li div:first-child, #result_title2 li div:last-child{
  color:rgb(166, 187, 194)
}


.fade {
  opacity: 1;
}

::selection {
  background: rgb(110 110 110);
}

::-moz-selection {
  background: rgb(110 110 110);
}

.resultSection ::selection {
  background: rgba(105, 105, 105, 0.7);
}

.resultSection ::-moz-selection {
  background: rgba(105, 105, 105, 0.7);
}


::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #111;
}


/* 
@media only screen and (max-width: 1200px) {
  .resultSection{
    width: 90%;
  }
  .resultSection ul{
    width:auto;
  }
}
@media only screen and (max-width: 959px) {
}
@media only screen and (max-width: 719px) {
}
@media only screen and (max-width: 479px) {
} */