*{
  margin: 0px;
  padding: 0px; 
}

html{
  text-align: center;
  background-color: #a5a5a5;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2{
  color: #fff;
}

h2{
  font-size: 1.5rem;
}

.main{
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px 0px;
  /* border: #000 1px solid; */
}

.main > div {
  margin-top: 30px;
}

.bannerPreview{
  margin: 30px auto;
}


.titleBoxSection > div{
  color: white;
  background-color: #222;
  display:inline-block;
  vertical-align:top;
  border-radius: 10px;
  margin: auto 2px;
}

.titleLabel{
  font-size: 1.3rem;
  padding: 8px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.titleBox1{
  transform: rotate(-1.5deg);
}

.titleBox2{
  transform: rotate(1deg);
}

.titleBox1 .titleLabel{
  background-color: rgb(169, 194, 32);
}
.titleBox2 .titleLabel{
  background-color: rgb(58, 60, 167);
}

#comboBox_title1, #comboBox_title2{
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 50px;
}


.resultSection{
  padding: 10px 0;
  margin-top: 30px;
  background-color: #4b4b4b;
}

.resultSection ul{
  list-style: none;
  display:inline-block;
  vertical-align:top;
  width:520px;
}

#result_title1{
  text-align: right;
}

#result_title2{
  text-align: left;
}

.dataList li div{
  font-size: 14px;
  display:inline-block;
  vertical-align:bottom;
  margin-right: 8px;
  /* border: 1px solid salmon; */
}

#result_title1 li div:last-child, #result_title2 li div:first-child{
  font-size: 10px;
  padding: 3px;
  background-color: #222;
  color: #777;
}
#result_title1 li div:nth-child(3), #result_title2 li div:nth-child(2){
  color:rgb(208, 226, 43)
}
#result_title1 li div:nth-child(2), #result_title2 li div:nth-child(3){
  color:rgb(148, 142, 236)
}
#result_title1 li div:first-child, #result_title2 li div:last-child{
  color:rgb(166, 187, 194)
}

/* #result_title1 li div:last-child, #result_title2 li div:first-child{
  color:rgb(208, 226, 43)
}
#result_title1 li div:nth-child(2), #result_title2 li div:nth-child(2){
  color:rgb(148, 142, 236)
}
#result_title1 li div:first-child, #result_title2 li div:last-child{
  color:rgb(166, 187, 194)
} */
